<h1>Your Tasks</h1>
<span><%= link "New Task", to: task_path(@conn, :new) %></span>
<%= render "taskgrid.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

<!-- Copied from Nat Tuck's notes -->
<div class="row">
  <div class="col-3 offset-9">
    <%= if @current_user do %>
      <p>
        Logged in as: <%= @current_user.name %> |
        <%= link "Log Out", to: "/session", method: :delete %>
      </p>
    <% else %>
      <p>Not logged in.</p>
    <% end %>
  </div>
</div>
