<h2><%= @task.title %></h2>

<ul>
  <li>
    <strong>Description:</strong>
    <%= @task.description %>
  </li>

  <li>
    <strong>Created by:</strong>
    <%= @task.created_by %>
  </li>

  <li>
    <strong>Start Time:</strong>
    <%= @task.time %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @task.completed %>
  </li>

</ul>

<span><%= link "Edit", to: task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: page_path(@conn, :dashboard) %></span>
